<div id="measure-edit-panel" class="panel panel-primary" 
     style="width: 42em; position: absolute; top: 20px; left: 20px; margin-left: 5px">
  <div class="panel-body form-inline">
    <div class="arrow"></div>
    <form novalidate>
      <button type="button" class="close pull-right" ng-click="$ctrl.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
      <div class="form-group">
        <label>Copy</label>
        <button type="button"  ng-click="$ctrl.copyMeasure()" class="btn btn-default" aria-label="">
          <span class="" aria-hidden="true">Copy</span>
        </button>
      </div>
        <div class="form-group">
        <label>Paste</label>
        <button type="button"  ng-click="$ctrl.pasteBefore()" class="btn btn-default" 
                ng-disabled="!$ctrl.tabulater.referenceMeasure" aria-label="">
          <span class="" aria-hidden="true">Before</span>
        </button>
        <button type="button"  ng-click="$ctrl.pasteAfter()" class="btn btn-default" 
                ng-disabled="!$ctrl.tabulater.referenceMeasure" aria-label="">
          <span class="" aria-hidden="true">After</span>
        </button>
      </div>
      <div class="form-group">
        <label>Insert Empty</label>
        <button type="button"  ng-click="$ctrl.insertBefore()" class="btn btn-default" aria-label="">
          <span class="" aria-hidden="true">Before</span>
        </button>
        <button type="button"  ng-click="$ctrl.insertAfter()" class="btn btn-default" aria-label="">
          <span class="" aria-hidden="true">After</span>
        </button>
      </div>
      <div class="form-group">
        <label>Delete</label>
        <button type="button" ng-click="$ctrl.deleteMeasure()" class="btn btn-default" aria-label="">
          <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
        </button>
      </div>
      <div class="form-group">
        <label>Min Beat</label>
        <select class="form-control" ng-model="$ctrl.subdivision" 
                ng-change="$ctrl.setMeasureSubdivisions()"
                ng-options="o as o.label for o in $ctrl.availableSubdivisions"></select>
      </div>
    </form>
  </div>
</div>