<div id="measure-edit-panel" class="panel panel-primary" 
     style="width: 42em; position: absolute; top: 20px; left: 20px; margin-left: 5px">
  <div class="panel-body form-inline">
    <div class="arrow"></div>
    <form novalidate>
      <button type="button" class="close pull-right" ng-click="$ctrl.close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
      <div class="form-group">
        <label>Insert Measure</label>
        <button type="button"  ng-click="$ctrl.insertBefore()" class="btn btn-default" aria-label="">
          <span class="" aria-hidden="true">Before</span>
        </button>
        <button type="button"  ng-click="$ctrl.insertAfter()" class="btn btn-default" aria-label="">
          <span class="" aria-hidden="true">After</span>
        </button>
      </div>
    </form>
  </div>
</div>