
<rect ng-attr-class="string-{{note.string}}"
      ng-attr-x="{{ noteXPosition(measure, note.pos) + 'em'}}" ng-attr-y="{{ stringYOffset(note.string) - 0.05*stringOffset + 'em' }}"
      ng-attr-width="{{ noteDurationDistance(measure, note) + 'em'}}" ng-attr-height="{{ 0.1*stringOffset + 'em' }}" ></rect>


<circle class="selected-note" ng-if="note.selected"
        ng-attr-cx="{{ noteXPosition(measure, note.pos) + 'em'}}"
        ng-attr-cy="{{ stringYOffset(note.string) + 'em'}}" 
        ng-attr-r="{{noteCircleRadius}}em"  />

<text class="note-text" ng-if="!note.selected"
      ng-click="ctrl.clickNote($event, note, measure)"
      ng-attr-x="{{ noteXPosition(measure, note.pos) + 'em'}}"
      ng-attr-y="{{ stringYOffset(note.string) + 'em'}}"
      dy="0.3em" style="stroke: white; stroke-width: 4"
      text-anchor="middle"
      >{{note.fret}}</text>

<text class="note-text"
      ng-click="ctrl.clickNote($event, note, measure)"
      ng-attr-x="{{ noteXPosition(measure, note.pos) + 'em'}}"
      ng-attr-y="{{ stringYOffset(note.string) + 'em'}}"
      dy="0.3em"
      text-anchor="middle"
      >{{note.fret}}</text>

