<!doctype html>
<html lang="en" ng-app="tabApp">
<head>
  <meta charset="utf-8">
  <title>Tablature Viewer</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="TabViewCtrl as ctrl">
  
  <!-- Nav bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Tabulater
        </a>
      </div>
      <div class="btn-group navbar-right" uib-dropdown style="margin-right: 10px">
      <button id="single-button" type="button" class="btn btn-default navbar-btn" uib-dropdown-toggle>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>
    </div>
  </nav>
  
  <div class="container-fluid">
    <div  >
      <svg ng-repeat="measure in song.measures" class="measure" ng-attr-id="measure-{{$index}}"
           style="display: inline-block" height="200" ng-attr-width="{{measureWidth(measure)}}em">
        <g class="strings">
          <g ng-repeat="str in song.strings">
            <line class="string"
                x1="0" ng-attr-y1="{{ stringYOffset(str) + 'em' }}"
                x2="100%" ng-attr-y2="{{ stringYOffset(str) + 'em' }}"
                ng-click="clickLine($event, str, measure)"/>

            <rect class="transparent"
                x1="0" ng-attr-y="{{ stringYOffset(str) - 0.2*stringOffset + 'em' }}"
                width="100%" ng-attr-height="{{ 0.4*stringOffset + 'em' }}"
                ng-click="clickLine($event, str, measure)" />
          </g>
        </g>
        
        <g>
          <line class="measure-begin" x1="1" x2="1" ng-attr-y1="{{topStringYOffset() + 'em'}}"
            ng-attr-y2="{{bottomStringYOffset() + 'em'}}" />
          
          <rect 
                x1="1" ng-attr-y="{{topStringYOffset()}}em"
                width="8px" ng-attr-height="{{ bottomStringYOffset() - topStringYOffset() + 'em' }}"
                ng-click="clickMeasure($event, measure)" />
          
        </g>
        
        <g class="ruler">
          <line class="string"
                x1="0" ng-attr-y1="{{ rulerBottom() + 'em' }}"
                x2="100%" ng-attr-y2="{{ rulerBottom() + 'em' }}"
                />

          <g ng-repeat="sub in getRuler(measure) track by $index" >
            <line class="tick" style="stroke: #000000" ng-attr-class="ruler-tick-{{sub}}"
                  ng-attr-x1="{{ rulerTickXPosition(measure, $index) + 'em'}}" ng-attr-y1="{{ rulerBottom() - 0.25*stringOffset - 0.7*stringOffset/sub + 'em' }}"
                  ng-attr-x2="{{ rulerTickXPosition(measure, $index) + 'em'}}" ng-attr-y2="{{ rulerBottom() + 'em' }}"
                  />
          </g>
        </g>
        
        <g class="notes">
          <g ng-repeat="cnt in measure.content" >
            <g ng-init="note = cnt" ng-include="'partials/note.html'"></g>
          </g>
        </g>
        
      </svg>
      
    </div>
    <button ng-click="play()">Sound</button><div>{{measureEndTime}}</div>
  </div>
  
  <div id="panel" class="panel panel-default" style="width: 42em; position: absolute; top: 20px; left: 20px; display: none; margin-left: 5px">
    <div class="panel-body form-inline" ng-controller="NoteEditCtrl as noteCtrl">
      <div class="arrow"></div>
      <form novalidate>
        <button type="button" class="close pull-right" ng-click="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> 
          <div class="form-group">
            <label>String</label>
            <select class="form-control" ng-model="note.string" ng-change="setMovedNoteDuration(); updateState();" ng-options="o for o in availableStrings"></select>
          </div>
          <div class="form-group">
            <label>Fret</label>
            <select class="form-control" ng-model="note.fret" ng-options="o for o in song.frets"></select>
          </div>
          <div class="form-group">
            <label>Beats</label>
            <span style="margin-right: 0.5em; display: inline-block; width: 2em; text-align: center">{{note.dur}}</span>
            <div class="btn-group" role="group" aria-label="">
              <button type="button" class="btn btn-default" ng-click="setBeats()" aria-label="Nudge Left">
                <span class="" aria-hidden="true">=</span>
              </button>
              <button type="button" ng-disabled="!canDecreaseBeats" ng-click="decreaseBeats()" class="btn btn-default" aria-label="">
                <span class="" aria-hidden="true">-</span>
              </button>
              <button type="button" ng-disabled="!canIncreaseBeats" ng-click="increaseBeats()" class="btn btn-default" aria-label="">
                <span class="" aria-hidden="true">+</span>
              </button>
            </div>
            <select class="form-control" style="width: auto; display: inline-block" ng-change="updateState()" ng-model="beatChangeValue" ng-options="o as o.label for o in beatChangeAmounts"></select>
          </div>
          <div class="form-group">
            <label>Move</label>
            <div class="btn-group" role="group" aria-label="">
              <button type="button" ng-disabled="!canMoveBackward" ng-click="moveNoteBackward()" class="btn btn-default" aria-label="">
                <span class="" aria-hidden="true">-</span>
              </button>
              <button type="button" ng-disabled="!canMoveForward" ng-click="moveNoteForward()" class="btn btn-default" aria-label="">
                <span class="" aria-hidden="true">+</span>
              </button>
            </div>
            <select class="form-control" style="width: auto; display: inline-block" ng-change="updateState()" ng-model="moveValue" ng-options="o as o.label for o in beatChangeAmounts"></select>
          </div>   
          <div class="form-group">
              <label>Delete</label>
              <button type="button" ng-click="deleteNote()" class="btn btn-default" aria-label="">
                <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
              </button>
             
          </div>
        
    </form>  
    </div>
    
  </div>
  
  <note-edit-panel ng-if="ctrl.selectedNote" selected-note="ctrl.selectedNote" close="ctrl.unselectNote()"
      ></note-edit-panel>

  <measure-edit-panel ng-if="ctrl.selectedMeasure" selected-measure="ctrl.selectedMeasure" close="ctrl.unselectMeasure()"
      insert-measure="ctrl.insertMeasure(where)" ></measure-edit-panel>
</body>
</html>
